@{
    ViewBag.Title = "Home Page";
    //ViewBag.Title.</h1>
    //ViewBag.Message</h2>
}
@section featured {
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Paróquia Santíssima Trindade!</h1>
            <p>Olá, seja bem-vindo. Utilize este sistema para cadastrar os beneficiários atendidos pela Paróquia.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">saber mais &raquo;</a></p>
        </div>
    </div>
}

<!-- Example row of columns -->
<div class="row">
    <div class="col-md-4">
        <h2>Entidade Social</h2>
        <p>Cadastre as entidades de serviço social que fazem parte da Paróquia.</p>
        <p><a class="btn btn-default" href="#" role="button">saber mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tipo de Assistência</h2>
        <p>Cadastre todas as formas de assistências que existem na Paróquia.</p>
        <p><a class="btn btn-default" href="#" role="button">saber mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Beneficiário</h2>
        <p>Cadastre as informações dos assistidos pelas entidades da Paróquia.</p>
        <p><a class="btn btn-default" href="#" role="button">saber mais &raquo;</a></p>
    </div>
</div>