@model Mitra.AssistenciaSocial.UI.Web.Models.TipoDeAssistencia

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Excluir</h2>

<h3>Deseja realmente excluir este registro?</h3>
<fieldset>
    <legend>Tipo De Assistência</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        @Html.ActionLink("Ir para listagem", "Index")
    </p>
}
